{% extends "base.html" %}

{% block title %}Загрузка файлов — YaCut{% endblock %}

{% block content %}
<main>
  <section class="container my-5 px-4">
    <h1 class="text-center">Загрузка файлов</h1>
    <p class="text-center my-4">
        Загрузите файлы и получите на них короткие ссылки
    </p>
    <div class="container">
        <div class="row my-3">
            <div class="col-sm"></div>
            <div class="col-sm">
                <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div>
                <div>
            {{ form.files.label(class="form-label") }}
            {{ form.files(class="form-control mb-3", multiple=True, accept="*/*") }}
            {% if form.files.errors %}
                <p><span style="color:red">
                {% for error in form.files.errors %}{{ error }}{% endfor %}
                </span></p>
            {% endif %}
            <small class="text-muted">
                Допустимые форматы: PNG, JPG, JPEG, GIF, PDF, DOC, DOCX, TXT. Максимальный размер: 5 МБ.
            </small>
                </div>

                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

    <!-- Список загруженных файлов -->
    {% if uploaded_files %}
      <div class="container mt-4">
        <h3>Загруженные файлы:</h3>
          <ul class="list-group">
            {% for file in uploaded_files %}
              <li class="list-group-item">
                Файл: {{ file.filename }} &nbsp;
              </li>
              <li>
                Короткая ссылка:
                  <a href="{{ file.short }}" target="_blank" class="btn btn-sm btn-outline-primary">
                    {{ file.short }}
                  </a>
              </li>
            {% endfor %}
          </ul>
      </div>
    {% endif %}

{% endblock %}